<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Menú principal -->
        <menuitem name="Biblioteca" id="biblioteca.menu_biblioteca"/>

        <!-- actions libros -->

        <menuitem name="Libros" id="biblioteca.menu_libros" parent="biblioteca.menu_biblioteca"
                  action="biblioteca.action_window_books" sequence='1'/>

        <!-- actions Autores-->

        <menuitem name="Autores" id="biblioteca.menu_author" parent="biblioteca.menu_biblioteca"
                  action="biblioteca.action_window_autor" sequence='2'/>


        <!-- actions prestamos -->

        <menuitem name="Prestamo" id="biblioteca.menu_lends" parent="biblioteca.menu_biblioteca"
                  action="biblioteca.action_window_lends"/>

        <!-- actions menu report -->

        <menuitem name="Reportes" id="biblioteca.menu_reports" parent="biblioteca.menu_biblioteca"
                  action="biblioteca.action_biblioteca_report_wizard"/>
    </data>
</odoo>